body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  height: 100%;
}

h1 {
  align-self: flex-start; /* Overrides the center alignment from the body */
  font-size: 24px;
  padding-left: 3px;
  color:#333;
  margin-top: 0px;
  margin-bottom: 0; /* Remove bottom margin */
  font-weight: 300;
  text-align: left;
}

h2 {
  align-self: flex-start; /* Overrides the center alignment from the body */
  font-size: 24px;
  padding-left: 3px;
  margin-top: 1px;
  margin-bottom: 12px;
  text-align: left;
  font-weight: 800;
}

h3 {
  align-self: flex-start; /* Overrides the center alignment from the body */
  font-size: 30px;
  word-spacing: -5%;
  margin: 3px 0 2px 0; /* Remove top margin */
  padding: 0px;
  text-align: left;
  font-weight: 600;
}

.caption {
  align-self: flex-start; /* Overrides the center alignment from the body */
  font-size: 12px;
  color: #8e8e8e;
  font-weight: 500;
  text-align: left; /* Ensure text is left-aligned */
  margin: 0px 0px 20px 0px;
}

.textMentioned {
  align-self: flex-start; /* Overrides the center alignment from the body */
  font-size: 16px;
  color: #000000; /* Black text */
  font-weight: 500;
  text-align: left; /* Ensure text is left-aligned */
  margin: 0px 0px 20px 0px;
  background-color: #f0f0f0; /* Light grey background */
  border-radius: 15px;
  padding: 20px;
  display: inline-block; /* Fit width to the length of text */
}

.container {
  flex-direction: column;
  width: 90%;
  justify-content: flex-start; /* Align content from top vertically */
}

#feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding-bottom: 30px;
}

.page {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content from top vertically */
}

.page.active {
  display: flex;
}

textarea {
  background-color: #f5f5f5; /* Set background color to grey */
  font-family: 'Inter', sans-serif;
  
  width: 100%;
  height: 200px;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 17px;
  border: none; /* Remove border */
  border-radius: 20px;
  font-size: 14px;
  resize: none;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 10px 0;
}

.slider-container label {
  margin-bottom: 5px;
  font-size: 14px;
}

.slider-container input {
  width: 100%;
}

.switch {
  display: flex;
  justify-content: center;
  width: 97%;
  border-radius: 20px;
}

.switch button {
  flex: 1;
  border: 0px solid #ddd;
  background-color: #f5f5f5;
  padding: 10px 0;
  cursor: pointer;
  font-size: 14px;
  border-radius: 20px;
}

.switch button.active {
  background-color: #ffffff;
  color: #000000;
}

button#generate {
  background-color: #000;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin: 20px 0;
}

#record-button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #000;       /* Black background */
  border: none;
  padding: 10px 10px;
  border-radius: 20px;
  margin-right: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: right; /* Aligns the button to the right side of its parent container */

}

.back-icon {
  width: 20px; /* Adjust the size of the icon */
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease; /* Add a hover effect */
  align-self: flex-start; /* Align the icon to the left */
  margin: 20px 0px 10px 0px;
}

.back-icon:hover {
  transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

.profile-icon {
  width: 30px; /* Adjust the size of the icon */
  height: auto;
  margin: 10px 20px 5px 0px;
  align-self: flex-end; /* Align the icon to the right */
}

.profile-icon:hover {
  transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

.emotion-container {
  background-color: #eeeeee; /* Light grey background for the container */
  padding: 25px 25px;
  width: 100%;
}

.emotion-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.emotion-row:last-child {
  margin-bottom: 0;
}

.emotion-label {
  flex: 1;
  font-weight: bold;
  color: #000000;
  margin-right: 100px;
  padding-left:5%;
  
}

.emotion-bar {
  height: 20px;
  border-radius: 1px;
  padding-right: 5%;
  
}

/* Custom colors for each bar */
.curiosity {
  background-color: #000000; /* Black */
  width: 100%;
}

.admiration {
  background-color: #888888; /* Dark grey */
  width: 80%;
}

.delight {
  background-color: #cccccc; /* Light grey */
  width: 60%;
}

.confused {
  background-color: #ffffff; /* White */
  width: 40%;
  border: 1px solid #dddddd; /* Add border for visibility */
}

.content-container {
  text-align: left; /* Ensure text inside is left-aligned */
  width: 100%; /* Make sure the container spans the full width */
}

.card-container {
display: grid;
grid-template-columns: repeat(4, 1fr); /* 2 cards per row */
gap: 20px; /* Space between cards */
padding: 30px;
}

.card {
  background-color: #f9f9f9; /* Light gray */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 200px;
  height: 100px;
}

@media (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; /* Reduce space between cards */
    padding: 15px; /* Reduce padding */
  }
}

@media (max-width: 500px) {
  .card-container {
    grid-template-columns: 1fr; /* Two column layout */
    gap: 20px; /* Reduce space between cards */
    padding: 15px; /* Reduce padding */
  }

  .card {
    width: 500px; /* Make the card take full width */
    height: auto; /* Adjust height automatically */
  }
}

.card .icon {
font-size: 40px; /* Size of the icon */
margin-bottom: 10px;
}

.card .title {
font-size: 16px;
font-weight: bold;
color: #333; /* Dark text */
}

.recording-item {
display: flex;
align-items: center;
padding: 10px 0px 5px 5px;
border-bottom: 1px solid #f0f0f0;
}

.recording-info {
padding-top: 10px;
}

.mainText{
font-family: 'Inter', sans-serif;
font-weight: 500;
font-size: 20px;
color: #333; /* Dark text */
}

.badge {
background-color: #f0f0f0;
color: #000;
font-size: 14px;
padding: 2px 8px;
border-radius: 15px;
font-weight: bold;
}